.column
  %img{ :src => "images/performance/1.jpg" }
  %img{ :src => "images/performance/2.jpg" }
.column
  %img{ :src => "images/performance/3.jpg" }
  %img{ :src => "images/performance/4.jpg" }
.column
  %img{ :src => "images/performance/5.jpg" }
