.column
  %img{ :src => "images/three_dimensions/1.jpg" }
  %img{ :src => "images/three_dimensions/2.jpg" }
.column
  %img{ :src => "images/three_dimensions/3.jpg" }
  %img{ :src => "images/three_dimensions/4.jpg" }
.column
  %img{ :src => "images/three_dimensions/5.jpg" }
  %img{ :src => "images/three_dimensions/6.jpg" }
